fastapi==0.110.0
aiokafka==0.10.0
starlette==0.36.3
httpx==0.27.0
uvicorn==0.28.0
sqlmodel==0.0.16
psycopg2-binary==2.9.9
redis==5.0.3
pydantic==2.6.4
pydantic-settings==2.2.1
email-validator==2.1.1
python-dotenv==1.0.1
alembic==1.13.1